.atios-banner--text{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 90%);
    @media screen and (min-width: 750px) {
      background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 50%);
    }
  }
  .page-width{
    height: 100%;
    .inner{
      height: 100%;
      .text_container{
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        .text_heading{
          position: relative;
          z-index: 2;
          p{
            margin: 0;
            font-weight: 700;
            font-size: 28px;
            line-height: 1.2;
            letter-spacing: 0;
            @media(min-width: 750px){
              font-size: 24px;
            }
            @media(min-width: 1440px){
              font-size: 38px;
            }
          }
        }
        .text_description{
          position: relative;
          z-index: 2;
          p{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -.2px;
            @media(min-width: 750px){
              font-size: 16px;
            }
            @media(min-width: 1440px){
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}