.contact-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 113, 114, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.contact-form.hidden {
  display: none;
}

.contact-form-content {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 670px;
  max-height: 95vh;
  overflow-x: none;
  overflow-y: auto;

  @media(max-width: 650px) {
    width: 95%;
    padding: 20px;
    padding-top: 30px;
  }
}

.contact-form-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: all 200ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  svg {
    width: 14px;
    height: 14px;

    path {
      stroke: #313637;
    }
  }
}

.contact-form-title,
.contact-form-mess-title {
  margin: 0;
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;

  @media(max-width:650px) {
    font-size: 20px;
  }
}

.contact-form-mess-title {
  margin-bottom: 50px;

  @media(max-width: 650px) {
    margin-bottom: 30px;
  }
}

.contact-form-block-title,
.contact-form-mess-label span {
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 16px !important;
  line-height: 20px;

  @media(max-width: 650px) {
    font-size: 14px !important; 
  }
}

.contact-form-mess-label span {
  margin-bottom: 0;
}

.contact-form-step {
  display: none;
  margin-top: 50px;

  @media(max-width: 650px) {
    margin-top: 30px;
  }

  &.step-three.message {
    margin-top: 0;
  }
}

.contact-form-label {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  color: #6d7172;
  cursor: pointer;

  @media(max-width: 650px) {
    font-size: 14px;  
  }

  &.checkbox-label {
    padding-left: 30px;
  }

  &.text-label {
    display: flex;
    flex-direction: column;
  }

  &.row-label {
    display: flex;
    gap: 20px;
    font-size: 14px;

    @media(max-width: 650px) {
      align-items: flex-end;
    }

    .contact-form-text {
      width: 70px;
      text-align: center;
    }
  }

  &.full-width-label {
    grid-column: 1 / -1;
  }
}

.contact-form .contact-form-checkbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #aab1b2;
  border-radius: 4px;
}

.contact-form-input:checked ~ .contact-form-checkbox::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #4f8096;
  border-radius: 2px;
}

.contact-form-field-wrap:not(:first-child) {
  margin-top: 15px;
}

.contact-form-btn {
  min-width: 145px;
  padding: 16px 15px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background: #313637;
  border: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @media(max-width: 650px) {
    min-width: 130px;
    padding: 13px;
  }

  &.back-btn {
    padding: 15px;
    background: transparent;
    color: #121212;
    border: 1px solid #313637;

    &:hover {
      background-color: #313637;
      color: #fff;
    }
  }
}

.step-one-btn {
  margin-top: 60px;

  @media(max-width: 650px) {
    margin-top: 50px;
  }
}

.contact-form-btn.step-three-btn {
  margin-top: 50px;
}

.contact-form-step.active {
  display: block;
}

.contact-form-star {
  position: relative;
  top: 3px;
  font-size: 14px;
  color: #f00000;

  @media(max-width: 650px) {
    font-size: 12px; 
  }
}

.contact-form-text {
  height: 30px;
  margin-top: auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #c2cacc;
  outline: none;
  box-shadow: none;

  @media(max-width: 650px) {
    height: 27px;
  }
}

.contact-form-step.step-two.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media(max-width: 650px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.contact-form-label.select-label {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 7px;

  span {
    font-weight: 600;
    color: #121212;
  }
}

.contact-form-select {
  width: 100%;
  padding: 5px 0;
  padding-right: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid #c2cacc;
  outline: none;
  appearance: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form-select-wrap {
  position: relative;

  &::after {
    content: '▾';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
  }
}

.contact-form-action-wrap {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-form-required {
  font-size: 16px;
  color: #6d7172;

  @media(max-width: 650px) {
    font-size: 13px;
  }
}

.contact-form-mess-label {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media(max-width: 650px) {
    gap: 12px;
  }
}

.contact-form-mess-label .message-textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 145px;
  height: 145px;
  max-height: 145px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid #c2cacc;
  border-radius: 20px;
  padding: 15px 10px;
}

.contact-form-group {
  grid-column: 1 / -1;
  margin-top: 8px;

  &.timeline-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    @media(max-width: 650px) {
      gap: 0;
    }

    .contact-form-block-title {
      margin-right: 15px;

      @media(max-width: 650px) {
        width: 100%;
      }
    }

    .contact-form-label {
      min-width: 200px;

      @media(max-width: 650px) {
        min-width: auto;
      }
    }
  }

  &.numbers-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media(max-width: 650px) {
      flex-direction: column;
      gap: 25px;
    }
  }
}
