.sustainability {
  @media (max-width: 1024px) {
    margin-top: 60px;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.sustainability-wrap {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 80px;
  color: white;

  @media (max-width: 767px) {
    padding: 0 50px;
  }

  @media (max-width: 750px) {
    padding: 0 15px;
  }
}

.sustainability-title {
  max-width: 680px;
  margin: 0;
  font-weight: 700;
  font-size: 62px;
  color: white;

  @media (max-width: 1200px) {
    max-width: 500px;
    font-size: 50px;
  }

  @media (max-width: 1024px) {
    max-width: 300px;
    font-size: 32px;
    line-height: 38px;
  }
}

.sustainability-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 120px 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1200px) {
    margin-top: 60px;
    gap: 30px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 70%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin-top: 60px;
    gap: 40px;
  }
}

.sustainability-item {
  display: flex;
  flex-direction: column;
}

.sustainability-item-head {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (min-width: 1025px) and (max-width: 1200px) {
    flex-direction: column;
    gap: 15px;
  }

  @media (max-width: 1024px) {
    gap: 20px;

    .sustainability-item-head-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

.sustainability-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 22px !important;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #fff;

  @media (min-width: 1025px) and (max-width: 1200px) {
    text-align: center;
  }

  @media (max-width: 1024px) {
    font-size: 18px !important;
  }
}

.sustainability-item-desc {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;

  @media (min-width: 1025px) and (max-width: 1200px) {
    text-align: center;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.sustainability {
  position: relative;

  @media (min-width: 1700px) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 300px;
      background-image: linear-gradient(#fff, transparent);
    }
  }
}